@import "tailwindcss";

@theme {
  --color-blue: #12adbf;
  --color-green: #25e377;
  --color-green-button: #20c767;
  --color-navy: #00343f;
  --color-card-bg: #f4fdfc;
  --color-input-section-bg: #e8f8f6;
  --color-input-border: #5fc4d4;

  --radius: 12px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
